/desktop/lframework_test/Debug
/desktop/lframework_test/.vs
/desktop/lframework_test/lframework_test/Debug
/desktop/lframework_test/lframework_test/*.user
/desktop/lframework_test/lframework_test/*.filters
